.header {
  text-align: center;
  background: #33b5e5;
  color: #fff;
  padding: 12px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

.header a:hover {
  opacity: 0.3;
  color: black;
}
