<div class="product-container" *ngIf="product">
  <img [src]="product.url" class="product-image" (click)="goToDetails()" />

  <h3 class="product-title">{{ product.name }}</h3>

  <p class="product-price">{{ product.price }} $</p>

  <div class="container">
    <select [(ngModel)]="quantity">
      <option *ngFor="let q of [1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]="q">
        {{ q }}
      </option>
    </select>

    <button class="add-btn" (click)="addToCart()">Add to Cart</button>
  </div>
</div>
